html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#playerContainer {
  width: 100%;
  height: 500px;
  background-color: #333;
}

#player {
  width: 100%;
  height: 100%;
}
.input-group-text {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-left: none;
  height: calc(2.25rem + 2px);
  position: relative;
  float: right;
  width: 2.5rem;
  text-align: center;
}
.form-group {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}


.form-control {
  padding-right: 3.5rem;
}
#download-progress-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#download-progress-header {
    font-weight: bold;
    margin-bottom: 20px;
}

#download-progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 20px;
}

.progress-bar {
    background-color: #007bff;
}

